# Python bytecode files
*.pyc
*.pyo
__pycache__

# Flask instance folder
instance/

# Flask app configuration
config.py

# Virtual environment
venv/
env/
.venv/
ENV/
.env/

# VS Code settings
.vscode/

# Windows Thumbnails
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/